@inherits LayoutComponentBase

<PageTitle>Kalkulator Kredytowy</PageTitle>

<main class="vh-100">
    <div style="height:10vh" class="d-flex top-row">
        <div>
            <h1 onclick="javascript:location.href='/'">Kalkulator kredytowy</h1>
        </div>
    </div>

    <div style="height:90vh" class="d-flex justify-content-center">
        <div class="rounded align-self-center" style="background: rgb(0,0,0,0.1)">
            <div class="align-items-center">
                @Body
            </div>
        </div>
    </div>

</main>