@page "/"
<PageTitle>Kalkulator kredytowy</PageTitle>

<div style="min-width:200px; text-align:center">

	<h1 style="margin:1rem" class="font-weight-bold">Wybierz produkt:</h1>

	<div style="margin:10px">
		<IconButton IconLink="media/investment-icon.png" ButtonText="Kredyt inwestycyjny" ButtonLink="fetchdata" />
	</div>
	<div style="margin:10px">
	<IconButton IconLink="media/loan-icon.png" ButtonText="Pożyczka AGRO" ButtonLink="agro"/>
	</div>
</div>