@page "/"

<PageTitle>Kalkulator kredytowy</PageTitle>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<div style="text-align:center">
	<Counter/>
	<Counter/>
	<Counter/>
	<Counter/>
	<Counter/>
	<Counter/>
</div>